.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: burlywood;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: blueviolet;
}

.body {
  display:flex;
  flex-direction: row;
}

.page {
  background-color: aquamarine;
  margin: 30px;
  width: 100%;
}